<div class="my-3">
  <h4 [ngClass]="{'strike': !todo.active}">{{ todo.title }}</h4>
  <p [ngClass]="{'strike': !todo.active}">{{ todo.desc }}</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault{{i}}" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
    <label class="form-check-label" for="flexCheckDefault{{i}}">
      Toggle done
    </label>
  </div>
  <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
</div>
